.form-container {
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
  border-radius: 10px;
}

.form-container Input {
  margin-bottom: 5px;
}

.form-container section {
  margin-bottom: 10px;
  width: 500px;
}
.form-container TextArea {
  margin-bottom: 5px;
}
