.case-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  background: #001529;
}

.case-card b {
  color: rgb(175, 175, 175);
}

.ant-descriptions-title {
  color: rgb(175, 175, 175);
}

.ant-descriptions-item-container .ant-descriptions-item-label {
  color: rgb(175, 175, 175);
}
