.specify-card {
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  color: #fff;
  margin-left: 15px;
  font-weight: 700;
  background: #001529;
}
