/* imports */
@import './components/SpecifyCards/SpecifyCards.css';
@import './components/AddNewClientForm/AddNewClientForm.css';
@import './components/AllCasesList/CasesListItem/CaseListItem.css';
@import './components/DetailCaseCard/DetailCaseCard.css';
@import './components/Loader/Loader.css';
@import './components/PricesSearch/PricesSearch.css';

.container {
  width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}

.content-section {
  margin-top: 20px;
}

.button {
  border-radius: 60px;
}
